#game-canvas {
  border: 1px solid black;
  position: absolute;
  left: 35%;
}

div.images {
  display: none;
}

.opening {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 550px;
  left: 35%;
}
