#game-canvas {
  border: 1px solid black;
  position: absolute;
  left: 35%;
}

#images {
  display: none;
}


#splash {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 550px;
  left: 35%;
}
#splash-message {
}
