body {
  font-family: sans-serif;
}
#game-canvas {
  position: absolute;
  left: 35%;
}

#images, #game-over {
  display: none;
}

#splash, #game-over {
  position: absolute;
  z-index: 1;
  width: 398px;
  height: 548px;
  left: 35%;
  border: 1px solid black;
}

#logo {
  width: 80%;
  height: auto;
  margin: 40px 40px 20px 40px;
}

.pikachus {
  display: flex;
  justify-content: space-around;
}

#pikachu1, #pikachu2 {
  width: 30%;
  height: 30%;
}

.arrows {
  display: flex;
}

#leftarrow, #rightarrow {
  width: 10%;
  height: 10%;
}

#leftarrow {
  margin-left: 15px;
  margin-top: 30px;
}

#rightarrow {
  margin-top: 31px;
}

#arrow-directions {
  margin-left: 10px;
  margin-top: 40px;
}

.platforms {
  display: flex;
  margin-left: 15px;
  margin-top: 20px;
}

#platform {
  width: 75px;
  height: 20px;
}

#direction1 {
  margin-left: 15px;
}

.enemies {
  margin-top: 20px;
  margin-left: 7px;
  display: flex;
}

#direction2 {
  padding-top: 15px;
  padding-left: 10px;
}
#enemy {
  width: 50px;
  height: 50px;
}
#splash-directions {
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

#pikachu-game-over {
  width: 70%;
  height: auto;
  margin: 20px 50px;
}

#gameover-1, #gameover-2, #gameover-3 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
